<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"


    package="com.agent.cashmoovui">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        tools:replace="android:allowBackup"
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >

        <activity android:name=".splash.SplashScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
x
        </activity>


        <activity android:name=".MainActivity"></activity>
        <activity android:name=".otp.VerifyLoginAccountScreen"></activity>
        <activity android:name=".set_pin.SetPin"></activity>
        <activity android:name=".login.LoginMsis"></activity>
        <activity android:name=".login.LoginPin"></activity>
        <activity android:name=".activity.LanguageChoose"></activity>
        <activity android:name=".otp.OtpPage"></activity>

        <activity android:name=".cash_in.CashIn"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden">

        </activity>

        <activity android:name=".cashout.CashOutAgent"></activity>
        <activity android:name=".cashout.CashOutCodeSubscriber"></activity>
        <activity android:name=".cashout.CashOutOpt"></activity>
        <activity android:name=".remmetience.RemittanceOption"></activity>
        <activity android:name=".remmetience.SendRemittanceOpt"></activity>
        <activity android:name=".remmetience.SendRemittanceLocal"></activity>
        <activity android:name=".remmetience.SendRemittanceInternaional"></activity>
        <activity android:name=".transfer_float.TransferOption"></activity>
        <activity android:name=".wallet_owner.WalletOwnerMenu"></activity>
        <activity android:name=".wallet_owner.wallet_owner.WalletOwner"></activity>
        <activity android:name=".wallet_owner.subscriber.SubscriberKYC"></activity>
        <activity android:name=".wallet_owner.subscriber.SubscriberKYCAttached"></activity>
        <activity android:name=".wallet_owner.subscriber.SubscriberSignature"></activity>
        <activity android:name=".wallet_owner.agent.AgentKYC"></activity>
        <activity android:name=".wallet_owner.agent.AgentKYCAttached"></activity>
        <activity android:name=".wallet_owner.agent.AgentSignature"></activity>
        <activity android:name=".wallet_owner.branch.BranchKYC"></activity>
        <activity android:name=".wallet_owner.branch.BranchKYCAttached"></activity>
        <activity android:name=".wallet_owner.branch.BranchSignature"></activity>
        <activity android:name=".activity.ListUsers"></activity>
        <activity android:name=".activity.FraisDeServices"></activity>
        <activity android:name=".activity.MobilePrepaid"></activity>
        <activity android:name=".payments.Payments"></activity>
        <activity android:name=".payments.PaymentDetails"></activity>
        <activity android:name=".payments.PaymentConfirm"></activity>
        <activity android:name=".payments.PaymentReceipt"></activity>
        <activity android:name=".activity.HistoriqueAgent"></activity>
        <activity android:name=".activity.HistoriqueBranch"></activity>
        <activity android:name=".activity.DetailTransaction"></activity>
        <activity android:name=".activity.SettingCurrency"></activity>
        <activity android:name=".activity.HistoriqueTransaction"></activity>
        <activity android:name=".activity.Elements"></activity>
        <activity android:name=".activity.OtherOption"></activity>
        <activity android:name=".activity.Reset"></activity>
        <activity android:name=".activity.About"></activity>
        <activity android:name=".activity.Confidentialite"></activity>
        <activity android:name=".activity.Notification_screen"></activity>
        <activity android:name=".activity.Profil"></activity>
        <activity android:name=".activity.Showpopup"></activity>
        <activity android:name=".activity.ShowProfileQr"></activity>
        <activity android:name=".activity.ShareApp"></activity>
        <activity android:name=".activity.AddContact"></activity>

        <activity android:name=".settings.ChangeLanguage"></activity>
        <activity android:name=".settings.Confidentiality"></activity>
        <activity android:name=".settings.EditProfile"></activity>
        <activity android:name=".settings.About"></activity>
        <activity android:name=".settings.Profile"></activity>
        <activity android:name=".settings.Logout"></activity>

        <activity android:name=".remmetience.local.LocalRemittance"></activity>
        <activity android:name=".remmetience.international.InternationalRemittance"></activity>
        <activity android:name=".remmetience.cash_to_wallet.CashToWallet"></activity>
        <activity android:name=".pin_change.ChangePin"></activity>
        <activity android:name=".transfer_float.SellFloat"></activity>
        <activity android:name=".transfer_float.CommissionTransfer"></activity>
        <activity android:name=".overdraft.OverdraftLimit"></activity>
        <activity android:name=".transfer_float.TransferFloats"></activity>
        <activity android:name=".airtime_purchase.AirtimePurchases"></activity>
        <activity android:name=".remmetience.RemittanceReceive"></activity>
        <activity android:name=".transactionhistory_walletscreen.WalletScreen"></activity>
        <activity android:name=".transactionhistory_walletscreen.TransactionHistoryMainPage"></activity>
        <activity android:name=".transactionhistory_walletscreen.TransactionHistoryBranch"></activity>
        <activity android:name=".transactionhistory_walletscreen.TransactionHistoryAgent"></activity>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default" />

        <!--<meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />-->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

    </application>



    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

</manifest>