<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.agent.cashmoovui">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        tools:replace="android:allowBackup"
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        >

        <activity android:name=".splash.SplashScreen"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
x
        </activity>

        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".otp.VerifyLoginOTPScreen"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".otp.VerifyLoginAccountScreen"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>

            <activity android:name=".otp.RESETPINOtpPage"
                android:windowSoftInputMode="adjustResize|stateVisible"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNew"/>
        <activity android:name=".set_pin.SetPin"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".login.LoginMsis"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".login.LoginPin"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.LanguageChoose"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".otp.OtpPage"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".cash_in.CashIn"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".cashout.CashOutAgent"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".cashout.CashOutCodeSubscriber"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".cashout.CashOutOpt"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.RemittanceOption"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.SendRemittanceOpt"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.MoreActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transfer_float.TransferOption"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.WalletOwnerMenu"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.wallet_owner.WalletOwner"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.subscriber.SubscriberKYC"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.subscriber.SubscriberKYCAttached"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.subscriber.SubscriberOtpActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.subscriber.SubscriberSignature"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.agent.AgentKYC"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.agent.AgentKYCAttached"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.agent.AgentSignature"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.branch.BranchKYC"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.branch.BranchKYCAttached"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".wallet_owner.branch.BranchSignature"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.ListUsers"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".servicecharge.ServiceCharge"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".servicecharge.RemittanceFeeActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".servicecharge.AirtimeFeeActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".servicecharge.BillPayFeeActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".servicecharge.MoneyTransferFeeActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".servicecharge.CashInFeeActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".servicecharge.CashOutFeeActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".servicecharge.ServiceChargeDetails"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.MobilePrepaid"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".payments.Payments"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".payments.PaymentsProduct"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".payments.PaymentPlanList"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".payments.PaymentDetails"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".payments.PaymentConfirm"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.TransactionSuccessScreen"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".payments.PaymentReceipt"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.HistoriqueAgent"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.HistoriqueBranch"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.DetailTransaction"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.SettingCurrency"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.HistoriqueTransaction"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.Elements"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.OtherOption"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.Reset"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.About"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.Confidentialite"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.Notification_screen"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.Profil"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.Showpopup"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.ShowProfileQr"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.ShareApp"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.AddContact"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".settings.ChangeLanguage"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".settings.Confidentiality"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".settings.EditProfile"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".settings.About"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".settings.Profile"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".settings.Logout"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remmetience.local.LocalRemittance"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remmetience.international.InternationalRemittance"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.international.InternationalRemittanceActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.international.InternationalRemittanceSenderKYC"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.international.InternationalRemittanceBenefiKYC"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.international.InternationalRemittanceConfirmScreen"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.international.InternationalRemittanceReceiptScreen"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.local.LocalRemittanceActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.local.LocalRemittanceSenderKYC"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.local.LocalRemittanceBenefiKYC"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.local.LocalRemittanceConfirmScreen"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.local.LocalRemittanceReceiptScreen"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.cashtowallet.CashtoWalletSenderKYC"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.cashtowallet.CashtoWalletReceiverKYC"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.cashtowallet.CashtoWalletReceiptScreen"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remittancebyabhay.cashtowallet.CashtoWalletConfirmScreen"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remmetience.CashToWallet"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".pin_change.ChangePin"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transfer_float.SellFloat"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transfer_float.CommissionTransfer"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".overdraft.OverdraftLimit"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transfer_float.TransferFloats"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".airtime_purchase.AirtimePurchases"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".remmetience.RemittanceReceive"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transactionhistory_walletscreen.WalletScreen"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transactionhistory_walletscreen.TransactionHistoryMainPage"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transactionhistory_walletscreen.WalletTransactionDetails"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transactionhistory_walletscreen.TransactionHistoryBranch"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transactionhistory_walletscreen.TransactionHistoryAgent"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transactionhistory_walletscreen.TransactionHistoryAgentPage"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transactionhistory_walletscreen.TransactionHistoryBranchPage"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".transactionhistory_walletscreen.TransactionHistoryAgentRecycleClick"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".activity.NotificationList"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>
        <activity android:name=".AddContact"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNew"/>


        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default" />

        <!--<meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />-->

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <service android:name=".location.FetchAddressIntentServices" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.com.vansuita.pickimage.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/picker_provider_paths" />
        </provider>

    </application>



    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

</manifest>